<div id="marquis_wrap">
	<div id="sub_flashbox">
		<img src="images/marquee_kd.jpg" alt="" style="width: 900px; height: 150px;" />
	</div>
</div>

<div id="main">
	<div id="content_sans_sidebar">
		<h1>Chip Merkle</h1>
		<div id="breadcrumbs">
			<div ng-include="'js/app/templates/includes/inc_socialSharing.html'" ></div>
			<a ui-sref="app.home" class="first">Home</a>
			&raquo; <a ui-sref="app.about" class="x200">About NBRC</a>
			&raquo; <a ui-sref="app.staff" class="x309">Meet Our Staff</a>
			&raquo; <a ui-sref="app.chipmerkle" class="active">Chip Merkle</a>
		</div>
		<div style="text-align: center;">
			<span style="color: rgb(212, 171, 66);">
				<span style="font-size: 12pt;">
					<span style="font-family: Verdana;">
						<img border="0" width="400" height="519" alt="" src="https://placehold.it/400x519" />
						&nbsp;
						<br />
						<br />
					</span>
				</span>
			</span>
		</div>
		<div style="text-align: left;">
			<span style="font-size: 10pt;">
				<br /> 
			</span>
			<span style="color: rgb(0, 0, 0);">
				<span style="font-size: 11pt;">
					<span style="font-family: Verdana;">
						Chip Merkle was born in Jacksonville, Florida and is a fourth generation Floridian. He has been involved in many forms of ministry since 2000, some of them include music, evangelism, and church planting. He and his wife Natalie (also a Florida native), met in 1985 and have been married since 1989. They have 10 children. 
						<br/>
						<br/>
						Chip came to be known by the Lord in 1995 and has a passion for organic ministry. He and his wife have a heart for families.
					</span>
				</span>
			</span>
			
		</div>
		<div style="text-align: left;">&nbsp;</div>
		<div style="text-align: left;">&nbsp;</div>
		<div style="text-align: left;">&nbsp;</div>
	</div>

	<div id="no_sidebar"></div>

</div>

<div class="clear"></div>
