<div id="marquis_wrap">
	<div id="sub_flashbox">
		<img src="images/marquee_whatwebelieve.jpg"	alt="" style="width: 900px; height: 150px;" />
	</div>
</div>

<div id="main">
	<div id="content_sans_sidebar">
		<h1>What We Believe</h1>
		<div id="breadcrumbs">
			<div ng-include="'js/app/templates/includes/inc_socialSharing.html'" ></div>
			<a ui-sref="app.home" class="first">Home</a>
			&raquo; <a ui-sref="app.about" class="x200">About NBRC</a>
			&raquo; <a ui-sref="app.believe" class="active">What We	Believe</a>

		</div>


		<div style="text-align: center;">
			<span style="color: rgb(99, 197, 112);">
				<span style="font-size: 10pt;">
					<span style="font-family: Verdana;">
						<span style="font-size: 11pt;">
							<strong>
								<!-- <img border="0" alt="" src="https://placehold.it/150x150" />
								<br /> -->
								<span style="font-size: 14pt;">
									<span style="color: rgb(0, 0, 0);">
										<br /> <br /> 
										For a comprehensive look at our doctrinal beliefs, please click here:
									</span>
								</span>
								<br /> 
								<a target="_blank" href="http://sbc.net/bfm/default.asp">
									<span style="font-size: 12pt;">The Baptist Faith and Message</span>
									<br />
								</a>
							</strong>
						</span>
					</span>
				</span>
			</span>
			<strong>
				<span style="color: rgb(99, 197, 112);">
					<span style="font-size: 11pt;">
						<span style="font-family: Verdana;">
							<br />
							<br /> 
							<span style="font-size: 14pt;">
								<span style="color: rgb(0, 0, 0);">
									Our Statement of Faith:
								</span>
							</span>
							<br />
						</span>
					</span>
				</span>
			</strong>
			<span style="font-size: 12pt;">
				<span style="color: rgb(212, 171, 66);">
					<strong>
						<span style="font-family: Verdana;">
							&quot;Let us keep in step with the Spirit,
							<br /> knowing Jesus and making Him known.&quot;
						</span>
					</strong>
				</span>
			</span>
			<span style="color: rgb(212, 171, 66);">
				<strong>
					<br />
				</strong>
				<span style="font-size: 10pt;">
					<em>
						&quot;Since we live by the Spirit, let us keep in step with the Spirit.&quot;
						-&nbsp;Galatians 5:25
					</em>
				</span>
			</span>
			<strong><br /> <br /> <br /> </strong>
		</div>
		<span style="font-size: 11pt;">
			<span style="font-family: Verdana;">
<!--- 				We believe...<br/><br/>

				<strong>God</strong>
				God is the Creator and Ruler of the universe. He has forever existed as one God in three co-equal persons: the Father, the Son, and Holy Spirit. While this is a very difficult concept for our human understanding, it is what Christians have called the Doctrine of the Trinity.<br/>
				<i>Genesis 1:1; Deuteronomy 6:4</i><br/><br/>
				
				<strong>The Father</strong>
				The Father is all powerful, all knowing, all loving, and all wise. He reigns with loving care over the universe, and the flow of human history goes according to His purposes and plan.<br/>
				<i>Psalm 19:1-3; Jeremiah 10:10; 1 Timothy 1:17</i><br/><br/>
				
				<strong>Jesus</strong>
				Jesus Christ is the Son of God. He is God with the Father and Holy Spirit. Jesus has eternally existed and became man at His birth (the incarnation). Born of a virgin, he lived a sinless human life and offered Himself as the perfect sacrifice for the disobedience of all people by dying on a cross according to the Father's will. He rose from the dead after three days to demonstrate His power over death. He returned to Heaven and will return again someday to the Earth to reign as King of kings and Lord of lords.<br/>
				<i>Matthew 16:16; John 1:1-18;17:1-5; Hebrews 1:1-3</i><br/><br/>
				
				<strong>The Holy Spirit</strong>
				The Holy Spirit is the third person of the Trinity. He guides people into truth; exalts Christ; convicts of sin; cultivates Christian character; comforts Christians; grants spiritual gifts by which we serve God; and is the guarantee for the believer of God's promises.<br/>
				<i>Genesis 1:2; Isaiah 61:1-3; John 4:24</i><br/><br/>
				
				<strong>The Bible</strong>
				The Bible is God's word to us. It was written by human authors, under the supernatural guidance of the Holy Spirit. It is the supreme source of truth for the Christian. Because it is inspired by God, it has salvation for its purpose and is truth without any mixture of error throughout.<br/>
				<i>Exodus 24:4; Psalms 40:8; 2 Timothy 3:15-17; Hebrews 4:12</i><br/><br/>
				
				<strong>People</strong>
				People are made in the image of God and are the supreme object of God's creation. All of us are scarred by an attitude of disobedience toward God called sin. Sin separates people from God and results in death. Only the grace of God can bring people into relationship with Him and enable people to fulfill the creative purposes of God.<br/>
				<i>Genesis 1:26-30; Psalm 8:3-6; Acts 17:26-31</i><br/><br/>
				
				<strong>Salvation</strong>
				Salvation is God's free gift to us of forgiveness and relationship with Him, but we must accept it. We can never make up for our disobedience (sin) by self-improvement or good works. Only by trusting Jesus Christ as God's offer of forgiveness can anyone be saved from sin's penalty. When we turn from running our own life and turn to Jesus in faith, we become a part of God's family. Eternal life begins the moment one receives Jesus Christ into his life by faith.<br/>
				<i>John 10:9, 28-29; Romans 10:9-10, 13; Ephesians 2:8-22; Titus 2:11-14</i><br/><br/>
				
				<strong>Eternal Security</strong>
				Because God gives us eternal life through Jesus Christ, the true Christian is secure in that salvation forever. If you have genuinely entered into a relationship with God through Christ, you cannot "lose" your salvation or sever that relationship. Salvation is maintained by the grace and power of God, not by the self-effort of the Christian.<br/>
				<i>John 3:16; John 10:27-30</i><br/><br/>
				
				<strong>Eternity</strong>
				People were created to exist forever. We will either exist eternally separated from God by our disobedience, or eternally with God through forgiveness and salvation. Heaven and Hell are real places of eternal existence.<br/>
				<i>Matthew 25:31-46</i><br/><br/>
				
				<strong>Baptism by Immersion</strong>
				We believe that scriptural baptism is for the Christian and is the first act of obedience to Christ. Baptism should be by immersion in water and symbolically represents: 1) the Christian's faith in the death, burial, and resurrection of Jesus, 2) the Christian's death to sin and resurrection to walk in a new relationship as a new person in Christ, and 3) the Christian's belief that he will die, be buried, and that Jesus will resurrect him from the dead.<br/>
				<i>Mark 1:9-11</i><br/><br/>
				
				<strong>The Lord's Supper</strong>
				The Lord's Supper is a symbolic act of obedience where Christians remember the death of the Jesus Christ and anticipate His second coming. The bread is a symbol of His body and the juice represents His blood.<br/>
				<i>1 Corinthians 11:23-26</i><br/><br/>
				
				<strong>Tithing</strong>
				At Chets Creek Church, we believe in giving the tithe - 10% of our income - as the biblical minimum standard of giving. According to the Scriptures we are to give cheerfully, regularly, proportionately, and generously for the growth of God's Kingdom here on the earth.<br/>
				<i>Leviticus 27:30-32; Matthew 22:15-17; 1 Timothy 5:3</i><br/><br/>
				
				<strong>Evangelism</strong>
				Every follower of Jesus Christ and every church should seek to share the good news about Christ with people everywhere. It is the command of Christ for us to seek constantly to show the love of God in word and action to the world around us.<br/>
				<i>Matthew 28:18-20</i><br/><br/>
				
				<strong>The Church</strong>
				A New Testament church of the Lord Jesus Christ is a local body of baptized followers who are associated by their common faith and fellowship with Jesus. A local church is to observe the two ordinances: 1) baptism, and 2) the Lord's Supper; exercise their God-given gifts; and extend the gospel to the ends of the earth. The church is a self-governing body serving under the Lordship of Christ. All members are ministers as they serve with the scriptural leaders of the church. As each member comprises the local church, so do all local churches comprise the universal body of Christ.<br/>
				<i>Matthew 16:15-19; Colossians 1:18</i><br/><br/>
				
				<strong>Christian Unity</strong>
				To live in harmony with other Christians is clearly the teaching of the New Testament. It is the responsibility of each Christian to strive to live in harmonious fellowship with each member of the congregation. We recognize that unity, not uniformity is the goal. As members we recognize the authority and responsibility of the local church to exercise discipline in a compassionate and restorative way. It is the purpose of church discipline to ensure harmony among members, maintain order in its practices and promote reconciliation in the event of conflict.<br/>
				<i>Matthew 18:15-20</i><br/><br/> --->
			</span>
		</span>
		<br />
	</div>

	<div id="no_sidebar"></div>

</div>

<div class="clear"></div>