<div id="marquis_wrap">
	<div id="sub_flashbox">
		<img src="images/marquee_aboutnbrc.jpg" alt="" style="width: 900px; height: 150px;" />
	</div>
</div>
<div id="main">
	<div id="content">
		<h1>About NBRC</h1>
		<div id="breadcrumbs">
			<div ng-include="'js/app/templates/includes/inc_socialSharing.html'" ></div>
			<a ui-sref="app.home" class="first">Home</a> &raquo; <a ui-sref="app.about" class="active">About NBRC</a>

		</div>


		<div style="text-align: left;">
			<span style="font-size: 14pt;">
				<strong>
					<span style="font-family: Verdana;">
						Welcome!<br />
					</span>
				</strong>
			</span>
			<span style="font-family: Verdana;">
				<span style="font-size: 11px;">
					<br /> 
				</span>
				<font size="3"> </font>
			</span>
			<span style="font-size: 14pt;">
				New Berlin Road Church is a friendly, family oriented, down-to-earth, Holy Bible based congregation. <br/><br/> 
 
				Armed with the truth of our God and His word, the Bible, we study scripture verse by verse in context.  We believe God's word is sufficient to meet the needs in peoples lives today.  We continually strive to develop faithful  and fruitful followers of Jesus Christ.<br/><br/>  
				 
				If you have spiritual questions you would like answered, we will come alongside you to see what the Bible has to say on the matter. <br/><br/>
				 
				We are part of the Southern Baptist Convention.<br/><br/>
				 
				We welcome people of all ages and ethnicity.  We desire to reach out with the same love with which Jesus Christ loved us.<br/><br/> 
				 
				As you browse through this site, it is our hope that you would consider joining us in person!<br/><br/>

			</span>
		</div>
		<span style="color: rgb(99, 197, 112);">
			<span style="font-size: 12pt;">
				<span style="font-family: Verdana;">
					<strong>
					</strong>
				</span>
			</span>
		</span>
	</div>
	<div id="sidebar">
		<span style="font-size: 11pt;">
			<strong>
				<span style="color: rgb(99, 197, 112);">
					<span style="font-family: Verdana;">Service Information:</span>
				</span>
			</strong>
		</span>
		<span style="color: rgb(99, 197, 112); font-size: 12pt; font-family: Verdana;">
			<br />
		</span>
		<span style="font-size: 9pt;">
			<strong	style="color: rgb(99, 197, 112); font-family: Verdana; font-size: 10pt;">
				Sunday Mornings 
			</strong>
		</span>
		<span style="color: rgb(95, 198, 108);">
			<span style="font-size: 9pt;">
				we meet from 10:30am to Noon @ First Coast High School
				<strong	style="color: rgb(99, 197, 112); font-family: Verdana; font-size: 10pt;">
				</strong>
				&amp;&nbsp;<br />
				<strong	style="color: rgb(99, 197, 112); font-family: Verdana; font-size: 10pt;">
					Thursday Nights 
				</strong>
				from 7pm to 8pm @ First Baptist Ocean Way Church. Click the	icons below for directions &amp; our calendar!
			</span>
		</span>
		<br /> <br />
		<table width="140" border="0" align="center" cellpadding="1" cellspacing="1">
			<tbody>
				<tr>
					<td>
						<div>
							<a target="_self" href="http://nbrcjax.nextmeta.com/content.cfm?id=266">
								<img width="70" height="70" border="0" alt="" src="https://placehold.it/70x70" />
							</a>
						</div>
					</td>
					<td>
						<a href="http://nbrcjax.nextmeta.com/content.cfm?id=102">
							<img width="70" height="70" border="0" alt="" src="https://placehold.it/70x70" />
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div style="color: rgb(99, 197, 112); font-family: Verdana; font-size: 10pt; text-align: center;">
			&nbsp;
		</div>
		<span style="color: rgb(99, 197, 112); font-family: Verdana; font-size: 11pt;">
			<strong>
				Check Out Our Podcasts:
			</strong>
		</span>
		<br /> 
		<span style="color: rgb(95, 198, 108);">
			<span style="font-size: 9pt;">
				Click the icon below to see what we've been talking about lately.<br />
			</span>
		</span>
		<br />
		<div style="color: rgb(99, 197, 112); font-family: Verdana; font-size: 10pt; text-align: center;">
			<a target="_blank" href="http://sermon.net/nbrcjax">
				<img border="0" alt="" src="https://placehold.it/70x70" />
				<br />
			</a>
		</div>
		<span style="color: rgb(99, 197, 112); font-family: Verdana; font-size: 11pt;">
			<strong>
				<br />
				Connect With Us:
			</strong>
		</span>
		<span style="color: rgb(99, 197, 112); font-family: Verdana; font-size: 12pt;">
			<br />
		</span>
		<span style="color: rgb(95, 198, 108);">
			<span style="font-size: 9pt;">
				At NBRC,&nbsp;we value being connected to others as we follow Christ. One way we do this is through social media. Click any of the links below to stay up-to-date on the events and happenings of New Berlin Road Church!
			</span>
		</span>
		<br /> <br />
		<table width="210" height="70" border="0" align="center" cellpadding="1" cellspacing="1">
			<tbody>
				<tr>
					<td>
						<a target="_blank" href="http://www.facebook.com/NewBerlinRoadChurch">
							<img border="0" alt="" src="https://placehold.it/70x70" />
						</a>
					</td>
					<td>
						<a target="_blank" href="https://twitter.com/#!/newberlinroad">
							<img border="0"	alt="" src="https://placehold.it/70x70" />
						</a>
					</td>
					<td>
						<a target="_blank" href="http://www.youtube.com/user/NewBerlinRoadChurch">
							<img border="0" alt="" src="https://placehold.it/70x70" />
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>