<div id="marquis_wrap">
	<div id="sub_flashbox">
		<img src="images/marquee_contactnbrc.jpg" alt="" style="width: 900px; height: 150px;" />
	</div>
</div>
<div id="main">
	<div id="content_sans_sidebar">
		<h1>Contact NBRC</h1>
		<div id="breadcrumbs">
			<div ng-include="'js/app/templates/includes/inc_socialSharing.html'" ></div>
			<a ui-sref="app.home" class="first">Home</a>
			&raquo; <a ui-sref="app.contact" class="active">Contact NBRC</a>
		</div>

		<strong>
			<span style="font-size: 14pt;">
				New Berlin Road Church 
				<br /> 2351 New Berlin Rd.
				<br /> Jacksonville FL 32218
				<br />
				904-751-6411
			</span>
		</strong>
		
		<div id="alertMessage" ng-class="alertClass" ng-hidden="{{!alertMessage}}">{{alertMessage}}</div>

		<form name="contactForm" class="responsive" ng-submit="contactSubmit()" novalidate="novalidate">
			<ul>
				<li>
					<label class="RequiredFieldLabel">First Name *</label> 
					<input type="text" name="first_name" ng-model="contact.firstName" value="" required>
				</li>
				<li>
					<label class="RequiredFieldLabel">Last Name *</label> 
					<input type="text" name="last_name" ng-model="contact.lastName" value="" required>
				</li>
			</ul>			
			<ul>
				<li>
					<label>Primary Phone</label> 
					<input type="text" name="primary_phone" ng-model="contact.primaryPhone" value="">
				</li>
			</ul>
			<ul>
				<li>
					<label class="RequiredFieldLabel">Email Address *</label> 
					<input type="email" class="largeField" name="email_address" ng-model="contact.emailAddress" value="" required>
				</li>
			</ul>
			<ul>
				<li>
					<label class="RequiredFieldLabel">Inquiry/Comment/Prayer Request *</label> 
					<textarea name="inquiry" ng-model="contact.inquiry" required></textarea>
				</li>
			</ul>
			<ul>
				<li>
					<input type="submit" class="submitbutton" value="Send &#187;">
				</li>
			</ul>

		</form>
	</div>

	<div id="no_sidebar"></div>

</div>

<div class="clear"></div>